<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Add a cashflow entry</h1>
    <h1> Add a Stock </h1>
    <form action="{% url 'dashboard:addstock' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Create</button>
    </form>
    <a href="{% url 'dashboard:stocks' %}" class="btn btn-primary" >Stocks page</a>
    <h1> Add  movement on the wallet</h1>
    <h2> Add a quantity of stock </h2>
</body>
</html>