<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap
.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.
js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/po
pper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.m
in.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
</head>

<body>
    <h1>Welcome on the Wallet {{ wallet.name }} </h1>
    <h2>holding</h2>
    
    {% if wallet %}
    <table class="table">
        <thead>
            <tr>
                <th>Stock id</th>
                <th>Quantity</th>                
            </tr>
        </thead>
        <tbody>
            {% for raw in wallet %}
            <tr>
                <td>{{ raw.sock_id }}</td>
                <td>{{ raw.quantity }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p><strong>No holding!</strong></p>    
    {% endif %}
    <h2>Cashflow Found</h2>
    {% if cashflows %}
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Cashflow Entry</th>
                <th>User ID</th>
                <th>Wallet ID</th>
            </tr>
        </thead>
        <tbody>
            {% for cashflow in cashflows %}
            <tr>
                <td>{{ cashflow.date }}</td>
                <td>{{ cashflow.cashflow_entry }}</td>
                <td>{{ cashflow.user_id.user_name }}</td>
                <td>{{ cashflow.wallet_id.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p><strong>No Cashflow Found!</strong></p>
    {% endif %}
    
    <a href="{% url 'dashboard:stocks' %}" class="btn btn-primary">list Stocks</a>
</body>

</html>