<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap
.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.
js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/po
pper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.m
in.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock available</title>
</head>

<body>
    <h1>Stock</h1>
    <h2>List of stock</h2>
    {% if stocks %}
    <ul>
        {% for stock in stocks %}
        <li>{{ stock.ticker }}</li>
        <li>{{ stock.name_stock }}</li>
        <li>{{ stock.type_stock }}</li>
        <li>{{ stock.currency }}</li>
        <br>
        {% endfor %}
    </ul>
    {% else %}
    <p><strong>No stock!</p>
            strong></p>
    {% endif %}
    <a href="{% url 'dashboard:add' %}" class="btn btn-primary" >add something</a><br>
    <a href="{% url 'dashboard:index' %}" class="btn btn-primary" >Home</a>
    
</body>

</html>